// Основная цветовая палитра
$dark-orange: #087B8E;
$light-orange: #0BA5BE;
$dark-blue-gray: #2c3e50;
$light-gray: #bdc3c7;
$super-light-gray: #ecf0f1;
$black: #000000;
$white: #FFFFFF;

@font-face {
    font-family: 'Optima Cyr';
    src: url('http://127.0.0.1:4000/assets/css/fonts/Optima-Cyr.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// Шрифты
$font-heading: "Source Sans Pro", sans-serif;
$font-body: "Alice", serif;
//$font-body: "Fira Sans", serif;

// Размеры сайта
$sidebar-width: 320px;
$content-padding-large: 120px;
$content-padding-medium: 60px;
$content-padding-small: 15px;
$post-max-width: 540px; //ширина content-container

// Размеры элементов
$logo-size-desktop: 80px;
$logo-size-mobile: 50px;
$header-bar-height: 8px;
$mobile-header-height: 90px;
$mobile-logo-top: 0px;

// Breakpoints для адаптивного дизайна
$breakpoint-large: 1080px;
$breakpoint-medium: 900px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 600px;
$breakpoint-small: 350px;

// Базовые размеры шрифтов
$font-size-base: 1.1em;      // Базовый размер (вместо 100%)
$font-size-large: 1.3em;    // Для p и li
$font-size-h2: 1.8em;       // Для h2
$font-size-h3: 1.4em;       // Для h3
$font-size-small: 1.1em;    // Для .byline
$font-size-sidebar-title: 16px;   // Для заголовков в сайдбаре
$font-size-sidebar-link: 15px;    // Для ссылок в сайдбаре
$font-size-form: 14px;      // Для полей форм
