<div class="links scroll">
</div>
<div class="links scroll">
        <nobr><a href="{{site.baseurl}}/">🧭Главная</a></nobr>
        <nobr><a href="{{site.baseurl}}/cases/">💁‍♂️Отзывы</a></nobr>
        <nobr><a href="{{site.baseurl}}/contacts/">📞Контакты</a></nobr>
        <nobr><a href="{{site.baseurl}}/blog/">📖Заметки</a></nobr>
        <nobr><a href="{{site.baseurl}}/archive/">📚Архив</a></nobr>
        <nobr><a href="{{site.baseurl}}/memo/">💾Памятки</a></nobr>
        <nobr><a href="{{site.baseurl}}/sign/">📅Запись на консультацию</a></nobr>
</div>
<!--
<a href="{{site.baseurl}}/archive/"><nobr>📚Архив</nobr></a 💿💾📀💽🧲>
-->
<!--
<div class="links scroll">
        <a href="{{site.baseurl}}/">Главная</a>
        <a href="{{site.baseurl}}/cases/">Отзывы</a>
        <a href="{{site.baseurl}}/blog/">Статьи</a>
        <a href="{{site.baseurl}}/archive/">Архив</a>
</div>
-->
