<div class="links scroll">
</div>
<div class="links scroll">
        <a href="{{site.baseurl}}/"><nobr>🧭Главная</nobr></a>
        <a href="{{site.baseurl}}/cases/"><nobr>💁‍♂️Отзывы</nobr></a>
        <a href="{{site.baseurl}}/contacts/"><nobr>📞Контакты</nobr></a>
        <a href="{{site.baseurl}}/blog/"><nobr>📖Заметки</nobr></a>
        <a href="{{site.baseurl}}/sign/"><nobr>📅Запись на консультацию</nobr></a>
</div>
<!--
<a href="{{site.baseurl}}/archive/"><nobr>📚Архив</nobr></a>
-->
<!--
<div class="links scroll">
        <a href="{{site.baseurl}}/">Главная</a>
        <a href="{{site.baseurl}}/cases/">Отзывы</a>
        <a href="{{site.baseurl}}/blog/">Статьи</a>
        <a href="{{site.baseurl}}/archive/">Архив</a>
</div>
-->
