<div class="links scroll">
  <span style="white-space: nowrap">
    <a href="{{site.baseurl}}/blog/">📖Читать блог</a></span><br>
  <span style="white-space: nowrap">
    <a href="{{site.baseurl}}/">🧭Обо мне</a></span><br>
  <span style="white-space: nowrap">
    <a href="{{site.baseurl}}/cases/">💁‍♂️Отзывы</a></span><br>
  <span style="white-space: nowrap">
    <a href="{{site.baseurl}}/contacts/">📞Контакты</a></span><br>
  <span style="white-space: nowrap">
    <a href="{{site.baseurl}}/archive/">📚Архив</a></span><br>
  <span style="white-space: nowrap">
    <a href="{{site.baseurl}}/memo/">💾Памятки</a></span><br>
  <span style="white-space: nowrap">
    <a href="{{site.baseurl}}/sign/">📅Запись на консультацию</a></span><br>
</div>
  
  <!-- Другие виджеты сайдбара -->