<div id="search-3" class="sidebar-widget widget_search">
    <h2 class="widgettitle">Search</h2>
    <form role="search" method="get" id="searchform" class="searchform" action="{{ site.baseurl }}/search/">
      <div>
        <label class="screen-reader-text" for="s">Search for:</label>
        <input type="text" value="" name="s" id="s" />
        <input type="submit" id="searchsubmit" value="" />
      </div>
    </form>
  </div>
  
  <div class="sidebar-widget widget_feedblitz_subscription">
    <h2 class="widgettitle">Subscribe</h2>
    <div id="subscribeform">
      <div class="sidebar-sub-container">
        <form action="{{ site.baseurl }}/" method="post">
          <input value="" class="feedblitz-email" type="email" name="email" placeholder="me@email.com">
          <input class="feedblitz-email-submit" type="submit" value="Sign Up" title="Click to Join">
        </form>
      </div>
      <small class="feedblitz-privacy-links">
        Email 
        <a target="_blank" rel="nofollow" title="Email subscriptions terms of service" class="feedblitz-terms-privacy" href="#">
          Terms
        </a> &amp;
        <a title="Email subscriptions privacy policy" target="_blank" rel="nofollow" class="feedblitz-terms-privacy" href="#">
          Privacy
        </a>
      </small>
    </div>
  </div>
  
  <!-- Другие виджеты сайдбара -->