---
layout: default
---
<hr>
<h2 class="post-headline">{{page.title}}</h2>
<p class="meta"><small>{{page.date | date: '%B %d, %Y'}}</small></p>

<!--
<p><table width="62%"><tr><td class="meta"><small>{{page.date | date: '%B %d, %Y'}}</small></td>
<td class="meta"><small>
  {% if page.upd_date %}
      изменено: {{ page.upd_date | date: '%B %d, %Y' }}
  {% else %}
  {% endif %}
</small></td></tr></table></p>
-->

{{content}}

<div class="PageNavigation">
  {% if page.previous.url %}
    <!-- <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a> -->
    <a class="prev" href="{{page.previous.url}}">◀ Предыдущий</a>
  {% endif %}
  | <a href="{{site.baseurl}}/rnd/">Случайный 🍀</a> |
  {% if page.next.url %}
    <!-- <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a> -->
    <a class="next" href="{{page.next.url}}">Следующий ▶</a>
  {% endif %}
</div>

<p><small>🧲 Подписаться на новые посты: <a href="https://t.me/IvanBekRu" target="_blank" rel="noopener noreferrer"> 📱 В телеграм канале</a>  или
  <a href="{{site.baseurl}}/feed.atom" title="{{site.baseurl}}/feed.atom" >Atom</a></small></p>

<p><small> Если вам нравятся мои посты, и вы хотите помочь мне сделать блог лучше,
  <br> 📝напишите мне
  <b><a href="https://docs.google.com/forms/d/e/1FAIpQLSewVqwvSpXbR_aBf43fW9dMtb_tkTm8eW90JSv0cXazK0a_FQ/viewform?usp=pp_url&entry.1173564305={{ page.url | url_encode }}">
    о своем впечатлении по этой ссылке
  </a></b>
</small></p>


<hr>

<!-- Comments only for posts -->
{% if page.path contains '_posts' %}
    {% if site.disqus-shortname %}
        {% include disqus.html %}
    {% endif %}
{% endif %}

<style>
    .hidden {
      display:none;
    }
</style>
<section class="hidden">
  <div class="post">
      <h2><a class="post-list-title" href="{{ page.url }}">{{ page.title }}</a></h2>
      <div class="post-content">
        {{ content }}
      </div>
      <hr>
  </div>
</section>
